<!-- ordem_servico_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'servico:ordem_servico_list' %}">Ordens Serviço</a></li>
        <li class="breadcrumb-item active" aria-current="page">OS {{ object }} - {{ object.cliente }}</li>
    </ol>
    </nav>

 <h3>{{ object.cliente }}</h3>

  <table class="table table-striped shadow table-hover mt-5 bg-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Serviço</th>
        <th scope="col">Valor</th>
        <th scope="col">Próxima Visita</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object.ordem_servico_itens.all %}
        <tr>
          <td>{{ item.servico }}</td>
          <td>{{ item.valor }}</td>
          <td>{{ item.proxima_visita|date:"d/m/Y" }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

</div>
{% endblock content %}